# Node modules
node_modules/

#database seeding
seedDatabase.js
seedUsers.js

# Environment variables
.env

#non minified code
copy_scripts.js

# Vercel-specific build output
.vercel/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel
.env 
.env.* 
*.pem 
*key.json 
