<nav class="main-nav" aria-label="Primary">
  <!-- Hamburger button for mobile -->
  <button class="nav-toggle" aria-expanded="false" aria-controls="primary-menu">
    ☰
    <span class="sr-only">Toggle navigation</span>
  </button>

  <!-- Main navigation menu -->
  <ul id="primary-menu" class="menu">
    <!-- For Tutors Dropdown -->
    <li class="menu-item has-submenu">
      <a href="/tutorMembership.html" data-ve-block-id="nav-for-tutors">For Tutors</a>
      <ul class="submenu" id="tutors-submenu">
        <li><a href="/tutorMembership.html" data-ve-block-id="nav-why-join">Why Join</a></li>
        <li><a href="/tutorMembership.html#benefits" data-ve-block-id="nav-membership-benefits">Membership Benefits</a></li>
        <li><a href="/tutorMembership.html" data-ve-block-id="nav-cpd-training">CPD & Training</a></li>
        <li><a href="/tutorMembership.html" data-ve-block-id="nav-code-conduct">Code of Conduct</a></li>
        <li><a href="/tutorDirectory.html" data-ve-block-id="nav-tutor-directory">Tutor Directory</a></li>
        <!-- Dynamic tutor pages and sections will be added here by JavaScript -->
      </ul>
    </li>

    <!-- For Parents Dropdown -->
    <li class="menu-item has-submenu">
      <a href="/parents.html" data-ve-block-id="nav-for-parents">For Parents</a>
      <ul class="submenu" id="parents-submenu">
        <li><a href="/parents.html#why-choose" data-ve-block-id="nav-why-choose-tas">Why Choose a TAS Tutor</a></li>
        <li><a href="/tutorDirectory.html" data-ve-block-id="nav-search-tutor">Search for a Tutor</a></li>
        <li><a href="/parents.html" data-ve-block-id="nav-safeguarding">Safeguarding & Complaints</a></li>
        <li><a href="/parents.html#faq" data-ve-block-id="nav-faqs">FAQs</a></li>
        <li><a href="/parents.html" data-ve-block-id="nav-parent-events">Parent Events / Workshops</a></li>
        <!-- Dynamic parent pages and sections will be added here by JavaScript -->
      </ul>
    </li>

    <!-- About TAS Dropdown (dynamic pages will be injected here) -->
    <li class="menu-item has-submenu">
      <a href="/about-us.html" data-ve-block-id="nav-about-tas">About TAS</a>
      <ul class="submenu" id="about-tas-submenu">
        <li><a href="/about-us.html" data-ve-block-id="nav-about-us">About Us</a></li>
        <li><a href="/about-us.html#team" data-ve-block-id="nav-meet-team">Meet the Team</a></li>
        <li><a href="/about-us.html#impact" data-ve-block-id="nav-our-impact">Our Impact</a></li>
        <li><a href="/blog" data-ve-block-id="nav-news-media">News & Media</a></li>
        <li><a href="/partnerships.html" data-ve-block-id="nav-partnerships">Partnerships</a></li>
        <!-- Dynamic about pages and sections will be added here by JavaScript -->
      </ul>
    </li>

    <!-- Standalone items -->
    <li class="menu-item"><a href="/contact.html" data-ve-block-id="nav-contact-us">Contact Us</a></li>
  </ul>
</nav>
